@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300:400;500;600&display=swap');

:root{
    --main-color: #dd2f6e;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}
.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}
.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}
.img2{
    
    display: none;
    
    
}
.img1{
    filter: brightness(50%);
    
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 1rem;
}
.sidebar-menu a {
    display: block;
    color: #fff;
    font-size: 1.1rem;
    padding-left: 1rem;
}
.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
#nav-toggle:checked + .sidebar{
    width: 70px;
}
#nav-toggle:checked + .sidebar .sidebar-brand ,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
} 
#nav-toggle:checked + .sidebar li a{
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h1 .img1,
#nav-toggle:checked + .sidebar .sidebar-menu li a span:last-child{
    display: none;
}
#nav-toggle:checked + .sidebar .sidebar-brand h1 .img2{
    display:inline-block;
    
}
#nav-toggle:checked ~ .main-content{
    margin-left: 70px;
}
#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 70px);
    left: 70px;
}
.main-content{
    transition: margin-left 300ms;
    margin-left: 345px;
}


header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: width 300ms;
}
#nav-toggle{
    display: none;
}

header h2{
    color: #222;
}
header label span{
    font-size: 1.7rem;
    padding-right: 1rem;

}
.card-header input{
    height: 100%;
    display: flex;
    float: right;
}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span {
    display: inline-block;
    padding: 0rem 1 rem;
    font-size: 1.5 rem;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
.user-wrapper{
    display: flex;
    align-items: center;
}
.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}
.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}
.user-wrapper small{
    display: inline;
    color: var(--text-grey);
}
main{
    margin-top: 100px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 100px);
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.cardss{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}
.card-singles{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}
.card-singles div span{
    font-size: 1rem;
    color: var(--text-grey);
}
.card-singles div:last-child span{
    font-size: 2rem;
    color: var(--main-color);

}
.card-single div:last-child span{
    font-size: 3rem;
    color: var(--main-color);

}
.card-single div:first-child span{
    color: var(--text-grey);
}
.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}
.recent-grids{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 60% auto;
}
.recent-gridss{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 100%;
    box-shadow: 2px 2px 2px 2px var(--text-grey);
}
.card{
    background: #fff;
    border-radius: 5px;
}
.card-header,
.card-body{
    padding: 1rem;

}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}
.card-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--main-color);
}
table{
    border-collapse: collapse;
}
thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    
}
thead td{
    font-weight: 700;
}
td{
    padding: .7rem 1rem;
    font-size: .9rem;
    color: #222;
}
td .status{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
}
.status.red{
    background: red;
}
.status.green{
    background: green;
}
.status.blue{
    background: blue;
}
.status.purple{
    background: purple;
}
.table-responsive{
    width: 100%;
    overflow-x: auto;

}
.customer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem .7rem;
}
.info{
    display: flex;
    align-items: center;
}
.info img{
    
    margin-right: 1rem;
}
.info h4{
    font-size: .8rem;
    font-weight: 700;
    color: #444;
}
.info small{
    font-weight: 600;
    color: var(--text-grey);
}
.contact span{
    font-size: 1.2rem;
    display: inline-block;
    margin-left:.5rem;
    color: var(--main-color);
}
.filter{
   width: 300px;
   height: 500px;
   margin-left: 2rem;
    
}
.filter div{
    margin: .5rem;
}
.filter div span{
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.field{
    color: var(--text-grey);
}
.input{
    background: #f0f0f0;
    color: #ccc;
    width: 200px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    box-shadow: 0 1px 0 var(--text-grey) inset;
    transition: 500ms all ease;
    outline: 0;
   
}
.cardsnotice{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-singlenotice{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
    height: 500px;
    box-shadow: 5px 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2) ;
}
.card-singlenotice div h1{
    font-size: medium;
    margin-top: 0rem;
    
}
.card-singlenotice div span{
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-grey);
}
.cardspay{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-singlepay{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 400px;
}
.card-singlepay div h1{
    font-size: 1.2rem;
}
.detailspay{
    color: var(--text-grey);
    
}
.card-singlepay div span{
    font-size: .8rem;
    
}
.inner{
    margin-top: .7rem;
    margin-bottom: .7rem;
    width: 100%;
    
}
.rowpay{
    margin: 13px;
    width: 100%;
    padding-top: 20px;    
}
.left{
    float: left;
    width: 60%;
    text-align: left;
    
}
.right{
    float: right;
    width: 40%;
    text-align: right;
}
.paybutton{
    
position:sticky;
text-align: right;


   
    
}
.buttonpay{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border: 1px solid var(--main-color);
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.buttonpay span{
    color: #f0f0f0;
    font-weight: 500;
}
.cardsin{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.cardin-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.cardin-single div:first-child{
    margin-right: 10px;
}
.cardin-single div:first-child h1{
    margin-bottom: 1rem;
} 

.cardin-single span{
    margin-top: 1rem;
    color: var(--text-grey);
    font-size: 1rem;
}
.setting form {
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    padding-bottom: 50px;
}

.setting h2 {
    text-align: center;
    margin-bottom: 40px;
}

.setting input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
.setting label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

.setting button {
    float:right;
    background:var(--main-color);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
   
}
.setting button:hover{
    opacity: .7;
}

@media only screen and (max-width:1200px)
{
    .sidebar{
        width: 70px;
    }
    .sidebar .sidebar-brand ,
     .sidebar li {
        padding-left: 1rem;
        text-align: center;
    } 
     .sidebar li a{
        padding-left: 0rem;
    }
    
     .sidebar .sidebar-brand h1 .img1,
     .sidebar .sidebar-menu li a span:last-child{
        display: none;
    }
    .img2{
        display: block;
    }
    
     .main-content{
        margin-left: 70px;
    }
     .main-content header{
        width: calc(100% - 70px);
        left: 70px;
    }
    .sidebar:hover
    {
        width: 345px;
        z-index: 200;
    }
    .sidebar:hover .sidebar-brand ,
    .sidebar:hover li {
        padding-left: 2rem;
        text-align:left;
    } 
     .sidebar:hover li a{
        padding-left: 1rem;
    }
    .sidebar:hover .sidebar-brand h1 .img2{
        display: none;
    }
     .sidebar:hover .sidebar-brand h1 .img1,
     .sidebar:hover .sidebar-menu li a span:last-child{
        display: inline;
    }
    
}
@media only screen and (max-width:960px)
{
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
    .cardss{
        grid-template-columns: repeat(2,1fr);
    }
    .cardsnotice{
        grid-template-columns: repeat(3,1fr);
    }
    .cardspay{
        grid-template-columns: repeat(2,1fr);
    }

    .recent-grid{
        grid-template-columns: 60% 40%;
    }
    .recent-grids{
        grid-template-columns: 55% 45%;
    }
    
}
@media only screen and (max-width:768px)
{
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
    .cardss{
        grid-template-columns: repeat(2,1fr);
    }
    .cardspay{
        grid-template-columns: 100%;
    }
    .cardsnotice{
        grid-template-columns: 100%;
    }
    .cardsin{
        grid-template-columns: 100%;
    }
    .recent-grid{
        grid-template-columns: 100%;
    }
    .recent-grids{
        grid-template-columns: 100% ;
    }
    .search-wrapper{
        display: none;
    }
    .setting form{
        width: 100%;
    }
}
@media only screen and (max-width:560px)
{
    .cards{
        grid-template-columns: 100%;
    }
    .cardss{
        grid-template-columns: 100%;
    }
    .cardsnotice{
        grid-template-columns: 100%;
    }
    .cardspay{
        grid-template-columns: 100%;
    }
    .cardsin{
        grid-template-columns: 100%;
    }
    .setting form{
        width: 100%;
    }
    .setting input{
        width:95%
    }
}
